@import "../../css/colors.css";
@import "../../css/easyblox-colors.css";

.share-button {
    background: $easyblox-yellow;
    color: $easyblox-graphite;
}

.share-button-is-shared {
    background: $ui-black-transparent;
    color: $easyblox-white;
    cursor: default;
}